@import '~carbon-components/css/carbon-components.css';
.login-form {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.logo {
    width: 100%;
}

.dashboard {
    width: 80%;
    margin: 0 auto;
}

.dashboard .user_details {
    margin: 10px;
    margin-right: 10px;
}

.dashboard .user_details a {
    color: brown;
}

.error {
    color: tomato;
}

.success{
    color:lime;
}